.pole{

    position: relative;
}
.forma{
    display: block;
    position: relative;
    margin: 0 auto;
    width: 1000px;
}
.pole1{
     display: inline-block;
     width: 49%;

     z-index: 50;
 }
.pole2{
    display:  inline-block;
    width: 49%;
    z-index: 50;
}
.list_ch{
    display: block;
    overflow: hidden;
    width: 100%;
    z-index: 50;
}
.block{
    display: block;
    width: 100%;
    float: right;
}
.block2{
    display: block;
    width: 100%;
    margin-top: 40px;
}